In [ ]:
import pandas as pd
import numpy as np

In [ ]:

from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
heartClassificationData = pd.read_csv('/content/drive/MyDrive/dataset/heart_disease_classification_dataset.csv')
print(heartClassificationData)

     Unnamed: 0  age     sex  cp  trestbps  ...  oldpeak  slope  ca  thal  target
0             0   63    male   3     145.0  ...      2.3      0   0     1     yes
1             1   37    male   2     130.0  ...      3.5      0   0     2     yes
2             2   41  female   1     130.0  ...      1.4      2   0     2     yes
3             3   56    male   1     120.0  ...      0.8      2   0     2     yes
4             4   57  female   0       NaN  ...      0.6      2   0     2     yes
..          ...  ...     ...  ..       ...  ...      ...    ...  ..   ...     ...
298         298   57  female   0     140.0  ...      0.2      1   0     3      no
299         299   45    male   3     110.0  ...      1.2      1   0     3      no
300         300   68    male   0     144.0  ...      3.4      1   2     3      no
301         301   57    male   0       NaN  ...      1.2      1   1     3      no
302         302   57  female   1     130.0  ...      0.0      1   1     2      no

[303 rows x 15 columns]

In [ ]:
heartClassificationData.shape

(303, 15)

In [ ]:
heartClassificationData.isnull().sum()

Unnamed: 0    0
age           0
sex           0
cp            0
trestbps      4
chol          1
fbs           0
restecg       0
thalach       5
exang         0
oldpeak       0
slope         0
ca            0
thal          0
target        0
dtype: int64

In [ ]:
dfSubset = heartClassificationData[heartClassificationData['chol'].notnull()]
print(heartClassificationData.shape)

(303, 15)

In [ ]:
heartClassificationDataNew = heartClassificationData.dropna(axis=0,subset = ['thalach'])
print('After dropping :', heartClassificationDataNew.shape)

After dropping : (298, 15)

In [ ]:
heartClassificationDataNew1 = heartClassificationData.dropna(axis=0,subset = ['trestbps','thalach'])
print('After dropping :', heartClassificationDataNew1.shape)

After dropping : (294, 15)

In [ ]:
heartClassificationDataNew1.isnull().sum()

Unnamed: 0    0
age           0
sex           0
cp            0
trestbps      0
chol          1
fbs           0
restecg       0
thalach       0
exang         0
oldpeak       0
slope         0
ca            0
thal          0
target        0
dtype: int64

In [ ]:
from sklearn.impute import SimpleImputer

impute = SimpleImputer(missing_values=np.nan, strategy='mean')

impute.fit(heartClassificationDataNew1[['chol']])

heartClassificationDataNew1['chol'] = impute.transform(heartClassificationDataNew1[['chol']])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

In [ ]:
heartClassificationDataNew1.isnull().sum()

Unnamed: 0    0
age           0
sex           0
cp            0
trestbps      0
chol          0
fbs           0
restecg       0
thalach       0
exang         0
oldpeak       0
slope         0
ca            0
thal          0
target        0
dtype: int64

In [ ]:
heartClassificationDataNew1.shape

(294, 15)

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
from sklearn.preprocessing import LabelEncoder

changing = LabelEncoder()

heartClassificationDataNew1['sex'] = changing.fit_transform(heartClassificationDataNew1['sex'])

print(heartClassificationDataNew1[['sex']].head())

   sex
0    1
1    1
2    0
3    1
5    1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

In [ ]:
x = heartClassificationDataNew1.drop(columns='target',axis=1)
y = heartClassificationDataNew1['target']

In [ ]:
print(x)

     Unnamed: 0  age  sex  cp  trestbps  ...  exang  oldpeak  slope  ca  thal
0             0   63    1   3     145.0  ...      0      2.3      0   0     1
1             1   37    1   2     130.0  ...      0      3.5      0   0     2
2             2   41    0   1     130.0  ...      0      1.4      2   0     2
3             3   56    1   1     120.0  ...      0      0.8      2   0     2
5             5   57    1   0     140.0  ...      0      0.4      1   0     1
..          ...  ...  ...  ..       ...  ...    ...      ...    ...  ..   ...
296         296   63    0   0     124.0  ...      1      0.0      1   0     2
298         298   57    0   0     140.0  ...      1      0.2      1   0     3
299         299   45    1   3     110.0  ...      0      1.2      1   0     3
300         300   68    1   0     144.0  ...      0      3.4      1   2     3
302         302   57    0   1     130.0  ...      0      0.0      1   1     2

[294 rows x 14 columns]

In [ ]:
print(y)

0      yes
1      yes
2      yes
3      yes
5      yes
      ...
296     no
298     no
299     no
300     no
302     no
Name: target, Length: 294, dtype: object

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(x, y, random_state=1)
print(X_train.shape)
print(X_test.shape)

(220, 14)
(74, 14)

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(x, y, random_state=1)
print(X_train.shape)
print(X_test.shape)

(220, 14)
(74, 14)

In [ ]:
from sklearn.preprocessing import MinMaxScaler

scalingDataset = MinMaxScaler()

scalingDataset.fit(X_train)

MinMaxScaler(copy=True, feature_range=(0, 1))

In [ ]:
X_train_scaled = scalingDataset.transform(X_train)

In [ ]:
print("per feature minimum value after scaling dataset:\n {}".format(
    X_train_scaled.min(axis=0)))
print("per feature maximum value after scaling dataset:\n {}".format(
    X_train_scaled.max(axis=0)))

per feature minimum value after scaling dataset:
 [0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
per feature maximum value after scaling dataset:
 [1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]

In [ ]:
X_test_scaled = scalingDataset.transform(X_test)

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
X_train, X_test, y_train, y_test = train_test_split(x, y,
                                                    random_state=2)
knnOnDataset=KNeighborsClassifier()

knnOnDataset.fit(X_train, y_train)

print("Test set accuracy: {:.2f}".format(knnOnDataset.score(X_test, y_test)))

Test set accuracy: 0.93